.homework-manage-page {
  .same-height {
    .panel-body {
      height: 780px !important;
      overflow-y: auto !important;
      padding-top: 0 !important;
    }
  }

  .left-list-wrap {
    .panel-body {
      padding: 30px !important;
    }
    .list-container {
      background: #F7F7F7;
      height: 720px;
      overflow-y: auto;
    }
    .list-select-item {
      padding: 20px;
      text-align: center;
      font-size: 24px;
      color: #454545;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background: darken(#F7F7F7, 5%);
        cursor: pointer;
      }
    }
  }
}
